
.react-rater {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.star .react-rater-star {
    margin: 0px;
    font-size: 1em;
}
.react-rater-star {
    cursor: pointer;
    margin: 0px;
    font-size: 3.5em;
}
/* 
form .react-rater-star::before {
    color: #ccc;
    font-family: 'Fontawesome';
    content: '\f005';
    font-size: 0.8em;
    position: absolute;
    left: 0;
    transform: translate(-3%, 44%);
    width: 100%;
    overflow: hidden;
} 
*/
.react-rater-star.is-active::before, .react-rater-star.will-be-active::before {
    color: #FFCB45;
}
.react-rater-star.is-active, .react-rater-star.will-be-active {
    color: #FFCB45;
}
.react-rater-star.is-active-half:before {
    color: #FFCB45;
}